[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pexm"]
	path = pexm
	url = https://github.com/vdinizm/pexm
	shallow = true
	registered = true
